.btn-success:hover {

    background-color : rgba(192, 149, 7, 0.952);
}

.btn-warning:hover {

  background-color : rgba(100, 78, 4, 0.836);
}

h3
{
    font-size: 25px  !important;
}

canvas {
  animation-name:example ;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

@keyframes example {
    
   from{box-shadow: 1px 1px 38px goldenrod;}
   to{box-shadow: 1px 1px 38px coral;}
}










